* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #e4d9ce;
}

/* Titre d'habitat */
#titredeshabitats {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

#lignehabitat {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
.titrehabitat {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

/* Bloc d'habitat */
.Expohabitat {
  display: inline-block;
  width: 50%; /* Ajuste à 100% pour qu'il prenne toute la largeur du parent */
  max-width: 400px; /* Largeur maximale pour un bon rendu */
  margin-left: 20%;
  border: solid 1px;
  margin-top: 70px;
  margin-bottom: 60px;
  border-radius: 15px;
  background-color: rgba(250, 250, 250, 0.8);
  box-shadow: -1px 1px 5px 9px rgba(141, 140, 140, 0.8);
  border: #9c9c9c;
  text-align: center;
}

/* Slider */
.slider {
  position: relative;
  width: 100%;
  height: 250px; /* Hauteur du slider, ajustable selon tes besoins */
  overflow: hidden; /* Cache les images non visibles */
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%; /* Place les slides en dehors de la vue à droite */
  opacity: 0;
  transition: all 0.5s ease;
}

.slider .slide.active {
  left: 0; /* Amène la slide active en position visible */
  opacity: 1;
}

/* Images à l'intérieur du slider */
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Boutons de navigation */
.prev,
.next {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: none;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Description de l'habitat */
.deschabitat {
  margin: 10px;
  color: #000;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .Expohabitat {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .Expohabitat {
    width: 90%;
    margin: 0 auto;
  }
}
