#Titreservice {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  padding-bottom: 30px;
}

table {
  border-collapse: collapse;
  margin-top: 80px;
  margin: auto;
  background-color: #f1f1e1; /* Beige doux */
  -webkit-box-shadow: -1px 1px 5px 9px rgba(14, 0, 0, 0.5);
  -moz-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 1px 5px 9px rgba(50, 50, 50, 0.4);
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  width: auto;
  padding: 15px;
  box-sizing: border-box;
  text-align: left;
  font-family: "Arial", sans-serif;
}

th {
  background-color: #558b2f; /* Vert olive foncé */
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #e0f2f1; /* Vert pastel doux */
}

tr:hover {
  background-color: #aed581; /* Vert tendre pour le survol */
  cursor: pointer;
}

td {
  background-color: #f1f1e1; /* Beige doux pour le fond */
  color: #3e2723; /* Marron foncé pour le texte */
}

table,
th,
td {
  border: 1px solid #8d6e63; /* Marron moyen pour les bordures */
}
